@model IEnumerable<ScratchCardAppUI.ViewModel.UserTransactionDetails>

@{
    ViewBag.Title = "Add Transaction";
}

<br />
<p>
    @Html.ActionLink("Add Transaction", "Create")<br />
    <label id="lblAddScratchCard" name="lblAddScratchCard" style="cursor:pointer; color:#007bff;">Add Scratch Card</label><br />

    @using (Html.BeginForm())
    {
        <div id="divAddScratchCard">
            <label id="lblScratchCardAmount" name="lblScratchCardAmount" style="font-weight:bold;">Amount</label><br />
            <input type="number" id="txtScratchCardAmount" class="form-control-sm" />
            <div class="form-group" style="padding-top:6px;">
                <input id="btnSubmit" type="button" value="Save" class="btn-sm" />
            </div>
        </div>
    }
</p>
<br />
@if (Model?.Count() > 0)
{
   <label>Full Name : @Model.ToList()[0].FirstName @Model.ToList()[0].LastName</label>
}
else
{
    <label>Full Name : @ViewBag.FirstName @ViewBag.LastName</label>
}
<center><h4>Transaction Details</h4></center>
@if (Model?.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScratchCardGUID)
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofTransaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScratchCardGUID)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }

    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            $("#divAddScratchCard").hide();


            $("#lblAddScratchCard").click(function () {
                $('#txtScratchCardAmount').val('');
                $("#divAddScratchCard").slideToggle(1000);
            });

            $("#btnSubmit").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "ScratchCard/SaveScratchCard",
                    data: {
                        txtScratchCardAmount: parseInt($('#txtScratchCardAmount').val())
                    },
                    success: function (data) {
                        if (data.ScratchCardGUID > 0) {
                            $("#divAddScratchCard").slideUp(500, function () {
                                alert("Scratch Card Added");
                            });

                        }
                    },

                });
            });
        });
    </script>
}
